extends layout

block content
    h1 User list


    if (users != undefined && users.length) == 0
        p There is no users.
    else
        for user in users
            
            .panel.panel-default(style='max-width: 800px')
                .panel-heading #[em #{user.username}] 
                .panel-body #{user.password}
            br



